// Loader

$bgColorFirst: #808080;
$bgColorSecond: #608080;
$speed: 0.3s;
$rot: 0;
$amount: 8;
$divider: 360 / $amount;

// Name Plate

$backgroundColor: #f0f0f0;
$foregroundColor: #ffffff;
$height: 20px;
$paddingV: 2px;
$paddingH: 5px;


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

.hidden {
    display: none !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}
