// Loader

$bgColorFirst: #808080;
$bgColorSecond: #608080;
$speed: 3s;
$rot: 0;
$amount: 8;
$divider: 360 / $amount;

// Name Plate

$backgroundColor: #f0f0f0;
$foregroundColor: #ffffff;
$height: 20px;
$paddingV: 2px;
$paddingH: 5px;
